<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Memo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
  </head>
  <body>
    <div id="app">
      <div class="hero is-info is-medium">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <a href="#" class="nav-item">
                <p> Simple Memo </p>
              </a>
            </div>
            <div class="nav-right">
              <a href="#" class="nav-item" @click='addMemoModal'>
                <p>Add Memo</p>
              </a>
            </div>
          </div>
        </header>
      </div>
      <div class="container section">
        <div class="columns gallery" style="flex-wrap:wrap">
          <div class="column is-3" v-for="memo in list_memo">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  A Memo
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <section class="section is-paddingless">
                    {{memo.content}}
                  </section>
                  <section class="section is-paddingless">
                    <small>
                      Created by {{memo.creator_name}}
                    </small>
                  </section>
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item" @click="konfirmDeleteMemo(memo._id)"> Delete </a>
                <a href="#" class="card-footer-item" @click='updateMemoModal(memo.creator_name,memo.content,memo._id)'> Update </a>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Add Memo Begin -->
      <div :class="modalAddMemo">
        <div class="modal-background">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">
                Add new memo
              </p>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">
                  Creator Name
                </label>
                <p class="control">
                  <input class="input" type="text" name="creator_name" v-model="creator_name">
                </p>
              </div>
              <div class="field">
                <label class="label">
                  Memo
                </label>
                <p class="control">
                  <textarea name="memo" rows="5" cols="73" placeholder="Type your memo here ..." v-model="content"></textarea>
                </p>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button is-success" name="buttonAddMemo" @click="addMemo"> Add Memo </button>
              <button @click="closeModal" type="button" name="cancelMemo" class="button is-link"> Cancel </button>
            </footer>
          </div>
        </div>
      </div>
      <!-- Modal Delete Memo End  -->

      <!-- Modal Update Memo Begin -->
      <div :class="modalUpdateMemo">
        <div class="modal-background">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">
                Update memo
              </p>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">
                  Creator Name
                </label>
                <p class="control">
                  <input class="input" type="text" name="creator_name" v-model="updated_creator_name">
                </p>
              </div>
              <div class="field">
                <label class="label">
                  Memo
                </label>
                <p class="control">
                  <textarea name="memo" rows="5" cols="73" v-model="updated_content"></textarea>
                </p>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button is-success" name="buttonupdateMemo" @click="updateMemo"> Update Memo </button>
              <button @click="closeModal" type="button" name="cancelMemo" class="button is-link"> Cancel </button>
            </footer>
          </div>
        </div>
      </div>
      <!-- Modal Update Memo End -->
    </div>
  </body>

  <script type="text/javascript">
    var app = new Vue({
      el : '#app',
      data : {
        list_memo: [],
        modalAddMemo: 'modal',
        modalUpdateMemo: 'modal',
        creator_name: '',
        content: '',
        updated_creator_name: '',
        updated_content: '',
        updated_memo_id: ''
      },
      created : function() {
        var self = this;
        axios.get('http://localhost:3000/api/memo')
        .then(function(res) {
          self.list_memo = res.data
        })
        .catch(function(err) {
          console.log(err);
        })
      },
      methods: {
        addMemoModal: function () {
          this.modalAddMemo = "modal is-active"
        },
        updateMemoModal: function (creator_name,content,memo_id) {
          this.modalUpdateMemo = "modal is-active"
          this.updated_creator_name = creator_name
          this.updated_content = content
          this.updated_memo_id = memo_id
        },
        closeModal: function () {
          this.modalAddMemo = "modal"
          this.modalUpdateMemo = "modal"
        },
        konfirmDeleteMemo: function (memoId) {
          var confirmDelete = confirm("Are you sure to delete this memo ?")
          if (confirmDelete == true) {
            axios.delete(`http://localhost:3000/api/memo/${memoId}`)
            .then(function (res) {
              window.location.href = "/";
            })
          }
        },
        addMemo: function () {
          newMemo = {
            creator_name : this.creator_name,
            content : this.content
          }
          axios.post('http://localhost:3000/api/memo',newMemo)
          .then(function (res) {
            this.creator_name = ''
            this.content = ''
            window.location.href = "/"
          })
        },
        updateMemo: function () {
          updatedMemo = {
            content : this.updated_content
          }
          axios.patch(`http://localhost:3000/api/memo/${this.updated_memo_id}`,updatedMemo)
          .then(function () {
            this.updated_memo_id = ''
            this.updated_creator_name = ''
            this.updated_content = ''
            window.location.href = "/"
          })
        }
      }
    })
  </script>
</html>
